<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="antrcp-template">
         <property
               name="lifeCycleURI"
               value="bundleclass://antzou.template.application/com.antzou.application.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="antrcp-template">
         </property>
         
        <!-- 添加Splash相关配置 -->
        <property name="startupProgressRect" value="30,160,340,8"/>
        <property name="startupMessageRect" value="30,140,340,16"/>
        <property name="startupForegroundColor" value="2C3E50"/>
        <property name="startupMessageColor" value="2C3E50"/>
        <!-- 指定Splash图片 -->
        <property
              name="splashLocation"
              value="platform:/plugin/antzou.template.application/splash.bmp"/>
         
      </product>
   </extension>
   
    <!-- 定义主题 -->
   <extension point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            id="com.antzou.application.theme.green"
            label="Green Theme"
            basestylesheeturi="css/e4_green_win.css">
      </theme>
      <theme
            id="com.antzou.application.theme.pink"
            label="Pink Theme"
            basestylesheeturi="css/e4_pink_win.css">
      </theme>
   </extension>
</plugin>